body{
    padding: 20px;
    background-color: #0265e7;
    background-image: linear-gradient(90deg, #0265e7 0%, #31acfe 51%)    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.card{
    padding: 10px;
    display: flex;
    border-radius: 20px;
    width: 300px;
    
}
.col{
    display: flex;
    justify-content:center;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
}
.btn{
  border-radius: 20px;
}
.btn:hover {
    background-color: rgb(55, 161, 300) !important;;
}